// COLORS
$color-white: #fff;
$color-grey-dark-1: #777;
$color-grey-dark-2: #444444;
$color-orange-white-1: #fcf8ee;
$color-orange-white-2: #fff7e4;
$color-orange-white-3: #ded4bd;
$color-orange-white-4: #e9d19b;

$color-orange-dark: #ff7730;

$color-black: #000;
$color-skyblue-1: #29a8e2;
$color-skyblue-2: #1cb3e7;
$color-emerald: #4cd8b0;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;