.footer {
    background-color: $color-orange-white-2;
    padding: 3.75rem 1.5625rem;

    &__social-navigation {
        color: $color-orange-white-3;
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 2.7;
        margin-bottom: 2.75rem;

        &--logo {
            list-style: none;
        }
    }

    &__social-logo {
        height: 3rem;
        width: 3rem;
        background-image: url(../img/twitter.svg);
        background-size: cover;
        margin: 0 auto;
    }

}

.footer-navigation {
        
    padding: 0 2rem 0 2rem;
    

    &__menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        color: $color-emerald;
        margin-bottom: 0.9rem;
    }

    &__item {
        cursor: pointer;
        
        &:not(:last-child):after {
            content: "|";
            color: $color-orange-white-3;
            margin: 0 .5125rem;
        }
    }
}


.site-info {
    color: $color-orange-white-3;
    text-align: center;
}