.header {
    height: 95vh;
    background-image: url(../img/twdc-1.jpg);
    background-size: cover;
    background-position: top;

    &__disney-logo {
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-grey-dark;
    }

    .menu {
        &__list {
            list-style: none;
            text-align: center;
            text-transform: uppercase;
        }

        &__item {
            display: inline-block;
            margin: 1rem;
            font-size: 1.6rem;
        }
    }

    .search {
        &__icon {
            height: 2.25rem;
            width: 2.25rem;
            fill: $color-grey-dark;
        }
    }
}