.header {
    height: 80vh;
    background-image: url(../img/twdc-1.jpg);
    background-size: cover;
    background-position: top;

    .menu {
        &__list {
            list-style: none;
            text-align: center;
            text-transform: uppercase;
        }

        &__item {
            display: inline-block;
            margin: 1rem;
            font-size: 1.6rem;
        }
    }

    .search {
        &__icon {
            height: 3.5rem;
            width: 3.5rem;
            font-size: 3rem;
            fill: $color-grey-dark-1;
        }
    }
}