.feature-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /*THIS creates the animation*/
    transition: transform 1s;

    &__picture {
        width: 60rem;
        height: 30rem;
        object-fit: cover;
    }

    &__text-box {
        padding: 2rem;

        &--date {
            text-align: center;
        }

        &--entry-title {
            text-align: center;
        }

    }
}

.photo-box {
    text-align: center;
}

.feature-slider {
    max-width: 100rem;
    height: 50rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    &__btn {
        position: absolute;
        top: 50%;
        color: $color-grey-dark-1;
        background: rgba($color-white, 0.7);
        outline: none;
        font-family: inherit;
        border-radius: 50%;
        border: solid $color-gold-1 2px;
        height: 5.5rem;
        width: 5.5rem;
        font-size: 3.25rem;
        line-height: 4rem;
        cursor: pointer;

        &--left {
            left: 6%;
            transform: translate(-50%, -50%);
        }

        &--right {
            right: 6%;
            transform: translate(50%, -50%);
        }

        &--left:hover,
        &--right:hover {
            box-shadow: 0px 0px 10px $color-black;
            background-color: $color-skyblue-1;
            color: $color-white;
        }
    }
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: #888;
    opacity: 1;
}