.contact {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    background-image: linear-gradient(105deg, 
        rgba($color-white, .9) 0%, 
        rgba($color-white, .9) 50%, 
        transparent 50%),
        url(../img/twdc-8.jpg);
    background-size: cover;
    border-radius: 5px;
    padding: 3rem;
    width: 70rem;
    height: 40rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, .7);
    border: solid 3rem $color-orange-white-3;
    transition: .5s;
}

.form {

    &__group:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem 1.5rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
    }

    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
    }

    &:focus:invalid {
        border-bottom: 3px solid $color-orange-dark;
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}

.hidden {
    display: none;
}

.close-modal {
    position: absolute;
    right: -2.5rem;
    top: -2.5rem;
    cursor: pointer;
}