.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    font-size: 5rem;
    text-align: center;
    text-shadow: 3px 3px 10px #000;
    letter-spacing: 1rem;
    //box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.heading-secondary {
    color: $color-black;
    text-transform: uppercase;
    backface-visibility: hidden;
    text-align: center;
    font-size: 4rem;
    position: relative;
}

.heading-secondary.has-gradient::after{
    background-color: #ffc029;
    background-image: -webkit-gradient(linear,left top,right top,from(#ffc029),to(#4cd8b0));
    background-image: linear-gradient(90deg,#ffc029,#4cd8b0);
    bottom: 0;
    content: "";
    display: block;
    height: .23rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}